.hind-madurai-light {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
.hind-madurai-semibold {
   font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  
.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
} 
/* end of font weights */


body {
  background-color: #000000;   
  display:flex;
  justify-content: center;
  margin: 0px;
  height: 2640px;
}


#main-container {
  background-color: #d62f2f;
  width: 1024px;
  height: 2639px;
  border: solid 1px black;
}

#home-header {
  background-color: #715353;
  height: 152px;
  width: 1024px;
  border: 1px black;
}

#home-header-logo img[src="IMAGES/tran.andrew.png"] {
  margin-top: 35px;
  margin-left: 35px;
}

/* end of home header */

#home-name {
  border: 1px #d62f2f;
  height: 521px;
  background-color: #d62f2f;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#home-name-name {
  height: 345px;
  width: 792px;
  border: 2px solid black;
}

#home-name-list {
  list-style-type: none;
  display: flex;
  font-size: 40px;
}

#home-descriptions {
  background-color: white;
  height: 521px;
}

.home-descriptions-list {
  list-style-type: none;
  display: flex;
  font-size: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 125px;
  padding-bottom: 125px;
}


#home-bio {
  background-color: black;
  color: #d62f2f;
  display: flex;
  justify-content: center;
  height: 450px;
  font-size: 40px;
  text-align: center;
}

#home-bio-box {
  margin-top: 35px;
  border-top: 2px solid #d62f2f;
  margin-bottom: 35px;
  border-bottom: 2px solid #d62f2f;
}

#home-works {
  height: 890px;
}

.home-featured-works {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#home-footer {
  height: 145px;
  background-color: black;
}

#home-footer-links-box {
  background-color: aliceblue;
  margin-top: 30px;
  border-top: 2px solid #d62f2f;
  height: 86px;
  margin-bottom: 30px;
  border-bottom: 2px solid #d62f2f;
}

.home-footer-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border: 2px #d62f2f;
  color: #d62f2f;
  font-size: 30px;
}

/* end of home */