.hind-madurai-light {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-madurai-regular {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-madurai-medium {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-madurai-semibold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-madurai-bold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
  } 
  

body {
    background-color: #d62f2f;   
    display:flex;
    justify-content: center;
    margin: 0px;

}


#main-container {
    background-color: #d62f2f;
    width: 1024px;
    height: 3000px;
    border: solid 1px black;
}

#home-header {
    background-color: #d62f2f;
    height: 152px;
    width: 1024px;
    border: 1px black;
}

#home-name {
    border: 1px #d62f2f;
    height: 521px;
    background-color: #d62f2f;
    color: white;
    display: flex;
    justify-content: center;
}

#home-descriptions {
    background-color: white;
    height: 521px;
    display: flex;
    justify-content: center;
}

#home-bio {
    background-color: black;
    color: #d62f2f;
    display: flex;
    justify-content: center;
    height: 450px;
}

#home-works {
    height: 890px;
}

.home-featured-works {
    color: white;
    display: flex;
    justify-content: center;
}

#home-footer {
    display: flex;
    border: 1px black;
    background-color: black;
    color: #d62f2f;
}